{% extends "static/pages/_common/base_mob.htm" %}

{% block body %}
<main class="container-full">
<div id='x-main' class="container-fluid mt-5 p-3">

<div class="row">
<h3 class="">Manage Child Details</h3>
<div class="mb-1 col-12">
  <label for="exampleFormControlInput1" class="form-label">Child's Name</label>
  <input class="form-control" type="number" value="" aria-label="...">
</div>

<div class="mb-1 col-12">
  <label for="exampleFormControlInput1" class="form-label">Mother's Name</label>
  <input class="form-control" type="number" value="" aria-label="...">
</div>

<div class="mb-1 col-6">
  <label for="exampleFormControlInput1" class="form-label">Age</label>
  <input class="form-control" type="number" value="" aria-label="...">
</div>

<div class="mb-1 col-6">
  <label for="exampleFormControlInput1" class="form-label">Gender</label>
	<select id="level" class="form-select">
	  <option selected>Gender</option>
	  <option value="L1">Male</option>
	  <option value="L1">Female</option>
	  <option value="L1">Other</option>
	</select>  
</div>

<div class="mt-2 col-12">
	<div class="form-check float-end">
	  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
	  <label class="form-check-label" for="flexCheckDefault">
		In-Active
	  </label>
	</div>	
</div>

</div>

<div class="row fixed-bottom">
	<div class="col-6 p-0">
		<button class="w-100 bg-primary text-light" data-nav="mob.kids">Cancel</button>
	</div>
	<div class="col-6 p-0">
		<button class="w-100 bg-primary text-light" data-nav="mob.kids">Submit</button>
	</div>
</div>

</div>

</main>
{% endblock %}	

{% block footer %}
{% endblock %}	