{% extends "static/pages/_common/base_mob.htm" %}

{% block body %}
<main class="container-full">
<div id='x-main' class="container-fluid mt-5 p-0">

<div class="row">

<div class="col-12 m-0">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Details</th>
      <th scope="col">+</th>
    </tr>
  </thead>
  <tbody>
  {% for item in kids %}	
    <tr class="{{item.kid_index}}">
      <td>
			<span data-nav="mob.kid.new" style="cursor: pointer;"><u>{{item.kid_name}} </u><span>
			</br> {{item.kid_pname}} </br> {{item.kid_gender}}, {{item.kid_age}}
	  </td>
      <td class="col-4 align-self-end">{{item.kid_height}} </br> {{item.kid_weight}} </br> {{item.kid_statdate}}</td>
      <td class="col-1 align-self-start"><i class="bi bi-plus-circle-fill" data-nav="mob.kid.stats"></i></th>
    </tr>
  {% endfor %} 	
  </tbody>
</table>
</div>
</div>
</div>
<div class="row fixed-bottom">
	<div class="col-12 p-0">
		<button class="w-100 bg-primary text-light" data-nav="mob.kid.new">New</button>
	</div>
</div>

</main>
{% endblock %}	

{% block footer %}
{% endblock %}	